/* Opsional Import Font Family soalnya kalau gak diimport ada beberapa font yang gak kedetect */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

/* Buat Header Footer Main */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Buat bagian body tapi didalam main */
body main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url(../Asset/BGLOGIN.png);
  background-size: cover;
}

/* Buat Footer */
footer {
  width: 100%;
  text-align: left;
  padding: 20px 0;
  background: transparent;
  position: absolute;
  bottom: 0;
  left: 0;
  text-indent: 2em;
  margin-bottom: 2em;
}

.copy {
  color: white;
  font-size: 18px !important;
}

/* Buat Logo */
header {
  width: 100%;
  text-align: right;
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  text-indent: 2em;
  margin-top: -1%;
}
.logo {
  width: 250px;
  height: 250px;
}

/* Buat bungkus input, tombol dll */
.bungkus {
  width: 420px;
  background: transparent;
  color:#fff;
  border-radius: 25px;
  padding: 30px 25px;
  border: 2px solid rgba(185, 185, 185, 0.2);
  backdrop-filter: blur(20px);
}

/* Buat judul dari si bungkus "LOGIN"  */
.bungkus h1 {
  font-size:36px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 25px;
  font-style: italic;
  color: black;
  animation: fadeIn 0.8s ease-out;
  animation-delay: 0.5s;
  animation-fill-mode: both;
  text-align: center;
}
.bungkus h2 {
  font-size:15px;
  text-align: center;
  text-transform: uppercase;
  font-style: italic;
  letter-spacing: 10px;
  color: black;
  text-align: center;
}
/* Buat isi kotak input  */
.bungkus .inputbox {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

/* Kotak buat masukin nama dan pass */
.inputbox input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255,255,255,.2);
  border-radius: 40px;
  font-size: 15px;
  color:red;
  font-weight: bold;
  padding: 20px 45px 20px 20px;
}

/* Buat placeholder input nama dan pass */
.inputbox input::placeholder {
  color: black;
  font-style: italic;
}

/* Buat foto user sama gembok yang diimport tadi */
.inputbox i {
  position: absolute;
  right:20px;
  top: 50%;
  transform: translateX(-50%);
  transform: translateY(-50%);
  font-size: 18px;
  color:red;
}

/* Kotak remember me */
.bungkus .checkingat {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin: -15px 0 15px;
  text-indent: 1em;
}

/* Buat checkbox ketika sudah dicentang */
.checkingat label input {
  accent-color: red;
  margin-right: 3px;
}

/* Buat tulisan remember */
.checkingat a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

/* Buat Header Footer Main */
.checkingat a:hover{
  text-decoration: underline red;
  color: white;
}

/* Buat submit login */
.bungkus .tombol {
  width: 100%;
  height: 40px;
  background: #fff;
  border:none;
  border-radius: 65px;
  cursor: pointer;
  font-size: 15px;
  color:#333;
  font-weight: bolder;
  transition: color 0.3s ease-in-out;
}

.bungkus .tombol::after {
  content: ""; /* Biar muncul garisnya */
  position: absolute; /* Biar posisi bisa diatur atur */
  left: 0; /* posisi garis mulai dari kiri */
  bottom: -10px; /* Jarak dari password/text biar gak nabrak */
  width: 0%; /* posisi awal garis biar gak kelihatan */
  height: 5px; /* Tebal garis efek */
  background-color: red; /* Warna garisnya */
  transition: width 0.4s ease-in-out; /* Efek dan durasi animasi */
}

/* Efek hover ketika cursor udah diatasnya */
.bungkus .tombol:hover{
  background-color: red;
  color:white
}
.bungkus .tombol:hover::after{
  width: 100%;
}

/* Buat tulisan daftar akun */
.bungkus .daftarakun {
  font-size: 14.5px;
  text-align: center;
  margin: 20px;
}

/* Tulisan daftar disini */
.daftarakun p a {
  color: white;
  text-decoration: none;
  font-weight: bolder;
}

/* Efek hover ketika udah diatasnya */
.daftarakun a:hover {
  color: red;
}


/*  Efek tulisan login */
@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(-25px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}