/* Semua % Header */
* {
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    transition: .2s linear;
}

body{
    background-color: #E5E4E2;
}

#icon{
    width: 26%;
}

header{
    display: flex;
    height: 70px;
    width: 100%;
    position: fixed;
    background-color: lightgray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content:space-between;
    align-items: center;
}

.headerbg{
    height: 70px;
}

header div{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.head_nav{
    display: flex;
    justify-items: center;
    align-items: center;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    background: lightgrey;
    color: black;
    text-decoration: none;
}

.head_nav:hover{
    color: white;
    background: black;
}

body{
    background-image: url("../Asset/coba.png");
    background-size: 103%;
    background-repeat: no-repeat;
}

main {
    margin: 4%;
}





/* .imgSearch{
    width: 20px;
    background-image: white;
    background-color: white;
}

.search{
    box-sizing: border-box;
    /* border: 1px solid black; */
    /* border-radius: 20px;
    padding: 20px;
    background-color: white;
    margin-bottom: 25px;
    width: 300px;
}

.cari{
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 20px;
    padding: 23px;
    background-color: white;
    margin-bottom: 25px;
}

.cari:hover{
    color: white;
    background: grey;
}

.text{
    border: none;
    outline: none;
    width: 245px;
} */ 

/* Getting Started */
section{
    min-height: 100vh;
    display: flex;
    align-items:self-start;
    justify-content:space-between;
}

section div{
    color: #AEC6CF;
    padding-left: 60px;
    padding-top: 90px;
}

/* .sec{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 200px;
} */

.title1{
    font-size: 56px;
}

.title2{
    margin-top: 17px;
    margin-bottom: 28px;
    padding-left: 5px;
    font-size: 27px;
    color: wheat;
}

.title3{
    padding-left: 10px;
    font-size: 30px;
    border-bottom: 2px solid #AEC6CF;
}

.orangKerja{
    width: 400px;
}

.lokasi{
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 20px;
    padding: 27px;
    background-color: white;
    margin-bottom: 25px;
    width: 200px;
    padding-left: 37px;
    outline: none;
}

.filter{
    width: 40px;
    padding-bottom: 20px;
}




/* Search Bar */
.sb{
    justify-content: center;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    background-color: black;
    height: 50px;
    /* width: 100%; */
}

.serbar{
    background-color: beige;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 87%;
    border-radius: 20px;
    width: 60%;
}

.serbar p{
    width: 85%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px;
    border-radius: 20px;
    background-color: lightgrey;
}

.searchbar_input{
    border-radius: 20px;
    outline: none;
    border: none;
    width: 96%;
    height: 60%;
    background-color: lightgray;
}

.searchbar_filter{
    width: 17px;
    border: 1px;
    border-radius: 50%;
    padding: 5px;
}

.searchbar_filter:hover{
    background-color: grey;
}

.searchbar_magnify{
    width: 25px;
    border: 1px;
    border-radius: 50%;
    padding: 2px;
}

.searchbar_magnify:hover{
    background-color: gray;
}













/* Halaman Utama */
.lowongansneakpeak{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.lowongan{
    height: 200px;
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;
    background-color: white;
    margin-bottom: 25px;
    width: 29%;
}

.pt{
    max-height: 50px;
    max-width: 50px;
}

.divpt{
    display: flex;
    height: 50px;
    width: 50px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

.containerlinkpt{
    padding-left: 4px;
}

.linkpt{
    font-size: 17px;
    text-decoration: none;
    color: black;
}

.linkpt:hover{
    text-decoration: underline;
}

.job{
    max-height: 100px;
}

.jobtitle{
    font-size: 15px;
    margin-top: 3px;
    padding-top: 5px;
    margin-bottom: 3px;
    border-top: 2px solid grey;
    /* border-bottom: 1px solid grey; */
}
.joblist{
    font-size: 13px;
    padding-left: 20px;
    max-height: 100%;
    list-style:circle;
    /* height: 65%; */
}

.joblist li{
    max-height: 100%;
    max-width: 100%;
    /* object-fit: contain; */
    /* display: flex; */
    /* margin-top: 10px; */

}










/* Footer */
.container{
    background:linear-gradient(deg, blueviolet, lightgreen);
    padding:15px 9%;
    padding-bottom: 50px;
}

.row{
	display: flex;
    
}
.footer-col ul{
	list-style: none;
    padding: 0px;
}

footer{
	background-color: #24262b;
    padding: 70px 0;
    margin-left: -100px;
    margin-top: 50px;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 12px;
	color: #ffffff;
	
}

.social-links a img{
    max-width: 100%;
    max-height: 100%;
    transition: none;
}

.social-links a img:hover{
    max-width: 100%;
    max-height: 100%;
    background-color: white;
    border-radius: 12px;
}






/* Sumber
https://www.lokerjogja.id/lowongan/desk-collection-di-pt-colmitra-persada-indonesia/
https://id.jobstreet.com/id/companies/sinar-mas-agribusiness-and-food-168552544616116/jobs
 */