/* Opsional Import Font Family soalnya kalau gak diimport ada beberapa font yang gak kedetect */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

/* Buat Header Footer Main */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Buat bagian body tapi didalam main */
body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url(../Asset/BGLOGIN.png);
  background-size: cover;
  overflow-x: hidden;
}

/* Buat Copyright */
footer {
  width: 100%;
  text-align: left;
  padding: 20px 0;
  background: transparent;
  position: absolute;
  bottom: 0;
  left: 0;
  text-indent: 2em;
  margin-bottom: 2em;
}

.copy {
  color: white;
  font-size: 18px !important;
}

/* Buat Logo */
header {
  width: 100%;
  text-align: right;
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  text-indent: 2em;
  margin-top: -1%;
}
.logo {
  width: 250px;
  height: 250px;
}
/* Buat bungkus input, tombol dll */
.bungkus {
  width: 620px;
  background: transparent;
  color:#fff;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  padding: 40px 40px;
  border: 2px solid rgba(185, 185, 185, 0.2);
  backdrop-filter: blur(20px);
}

/* Buat judul dari si bungkus "LOGIN"  */
.bungkus h1 {
  font-size:30px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 25px;
  font-style: italic;
  color: green;
  animation: fadeIn 0.8s ease-out;
  animation-delay: 0.5s;
  animation-fill-mode: both;
  text-align: center;
}
/* Buat isi kotak input  */
.bungkus .inputbox {
  position: relative;
  width: 75%;
  height: 50px;
  margin: 30px 0;
  margin-left: 60px;
}

/* Kotak buat masukin nama dan pass */
.inputbox input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255,255,255,.2);
  border-radius: 40px;
  font-size: 15px;
  color: red;
  font-weight: bold;
  padding: 20px 45px 20px 20px;
}

/* Buat placeholder input nama dan pass */
.inputbox input::placeholder {
  color: black;
  font-style: italic;
}

/* Buat foto user sama gembok yang diimport tadi */
.inputbox i {
  position: absolute;
  right:20px;
  top: 50%;
  transform: translateX(-50%);
  transform: translateY(-50%);
  font-size: 18px;
  color:black;
}
/* Buat submit login */
.bungkus .tombol {
  width: 90%;
  margin-left: 25px;
  height: 40px;
  background: #fff;
  border:none;
  border-radius: 65px;
  cursor: pointer;
  font-size: 15px;
  color:#333;
  font-weight: bolder;
  transition: color 0.3s ease-in-out;
}

form h1 {
  margin-bottom: 10px !important;
  color: white !important;
}
.bungkus .tombol::after {
  content: ""; /* Biar muncul garisnya */
  position: absolute; /* Biar posisi bisa diatur atur */
  left: 0; /* posisi garis mulai dari kiri */
  bottom: 0px; /* Jarak dari password/text biar gak nabrak */
  width: 0%; /* posisi awal garis biar gak kelihatan */
  height: 5px; /* Tebal garis efek */
  background-color:red; /* Warna garisnya */
  transition: width 0.4s ease-in-out; /* Efek dan durasi animasi */
}

/* Efek hover ketika cursor udah diatasnya */
.bungkus .tombol:hover{
  background-color:red;
  color:white
}
.bungkus .tombol:hover::after{
  width: 100%;
}
/*  Efek tulisan login */
@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(-25px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}