/* Opsional Import Font Family soalnya kalau gak diimport ada beberapa font yang gak kedetect */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
/* Buat Header Footer Main */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/* Buat bagian body tapi didalam main */
body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("../Asset/pixel.gif") no-repeat center center fixed;
  background-size: cover;
  overflow-x: hidden;
}
.bungkus {
    width: 600px;
    background: transparent;
    color:#fff;
    padding: 30px 25px;
  }
  .bungkus h1 {
    font-size:35px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 15px;
    font-style: italic;
    color: black;
    text-align: center;
    margin-bottom: 15px;
    text-shadow: 1px 2px black;
    animation: fadeIn 0.4s ease-out;
    animation-delay: 0.2s;
    animation-fill-mode: both;
  }
@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(-15px);
      transform: translateX(-15px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
      transform: translateX(0);
  }
}
span[id="1"] {
    color: red;
}span[id="2"] {
    color: orange;
}span[id="3"] {
    color: #4c86f8;
}span[id="4"] {
    color:#459846;
}span[id="5"] {
    color: orange;
}span[id="6"] {
    color: red;
}span[id="7"] {
    color: #4c86f8;
}span[id="8"] {
    color: #459846;
}span[id="9"] {
    color: orange;
}span[id="10"] {
    color: #4c86f8;
}

button {
    padding: 45px;
    margin-bottom: 25px;
    border:white;
    border-radius: 25px;
    background-color: white;
}
button.bt1 {
    margin-left: 50px;
    width: 200px;
}

button:hover {
    background-color: red;
    color:white;
    cursor: pointer;
}
button.bt2 {
    margin-left: 50px;
    width: 200px;
}
img {
    width: 250px;
    height: 250px;
    margin-left: 25%;
}
@keyframes zoom {
    0%, 100% { transform: scale(1); }
    50% { transform: scale(1.2); }
}
img {
    animation: zoom 2s infinite alternate;
}